@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  font-family: sans-serif;
  box-sizing: border-box;
}
/* .mainSec1 {
  background-image: url("../public/assets/home-sec-1-bg.png");
  height: 100vh;
  background-repeat: no-repeat;
} */
